---
apiVersion: v1
kind: Service
metadata:
  name: tailgrant
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: tailgrant-server
  ports:
    - name: https
      port: 443
      targetPort: 443
      protocol: TCP
